html,
body,
#__next {
  width: 100%;
  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  /* Allows content to fill the viewport and go beyond the bottom */
  min-height: 100%;
}

/* Load Satoshi Fonts */
@font-face {
  font-family: 'Satoshi-Regular';
  src:
    local('Satoshi-Regular'),
    url('../assets/fonts/Satoshi-Regular.otf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Satoshi-Medium';
  src:
    local('Satoshi-Medium'),
    url('../assets/fonts/Satoshi-Medium.otf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src:
    local('Satoshi-Bold'),
    url('../assets/fonts/Satoshi-Bold.otf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

#__next {
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  flex: 1;
}

html {
  scroll-behavior: smooth;
  /* Prevent text size change on orientation change
  https://gist.github.com/tfausak/2222823#file-ios-8-web-app-html-L138 */
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  /* Allows you to scroll below the viewport; default value is visible */
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  background-color: #ffffff;
}

input:focus {
  appearance: none;
}

div[role='button'] {
  box-shadow: none !important;
}

.r-borderWidth-d045u9 {
  border: none !important;
}

.r-d045u9 {
  border: none !important;
}

select {
  appearance: none;
}

#my_qr_code_div_id canvas {
  height: 50px;
  width: 50px;
}

/* react-elastic-carousel */
.rec.rec-slider-container {
  margin: 0px !important;
}
.rec .rec-item-wrapper:focus-visible {
  outline: none !important;
}
.rec .rec-item-wrapper div:focus-visible {
  outline: none !important;
}
.br-4 .rec.rec-slider-container {
  border-radius: 4px !important;
}

.br-6 .rec.rec-slider-container {
  border-radius: 6px !important;
}

.br-8 .rec.rec-slider-container {
  border-radius: 8px !important;
}

.br-10 .rec.rec-slider-container {
  border-radius: 10px !important;
}

.br-12 .rec.rec-slider-container {
  border-radius: 12px !important;
}

.br-14 .rec.rec-slider-container {
  border-radius: 14px !important;
}

.br-16 .rec.rec-slider-container {
  border-radius: 16px !important;
}

.br-18 .rec.rec-slider-container {
  border-radius: 18px !important;
}

.br-20 .rec.rec-slider-container {
  border-radius: 20px !important;
}

.br-22 .rec.rec-slider-container {
  border-radius: 22px !important;
}

.br-24 .rec.rec-slider-container {
  border-radius: 24px !important;
}

/* React web share */
.rws-header {
  font-family: 'Satoshi-Bold', 'SourceSerif4-Medium', sans-serif;
}
.rws-close {
  font-family: 'Satoshi-Medium', 'SourceSerif4-Medium', sans-serif;
}

/* Styles for React Responsive Table */
.responsiveTable {
  width: 100%;
  border-spacing: 0px;
}

.responsiveTable td .tdBefore {
  display: none;
}

.table-box {
  border: 1px solid #e3e5e5;
  border-radius: 8px;
  box-shadow:
    0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  padding: 0px;
  position: relative;
}
.table-wrapper {
  overflow-x: scroll;
}

.header-item {
  text-align: left;
  padding: 1.25em 1.5em;
  background: #f9fafb;
  border-radius: 0px;
  /* height: 44px; */
  border-bottom: 1px solid #e3e5e5;
  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
  font-size: 0.75em;
  font-weight: 500;
  font-family: 'Satoshi-Medium', 'SourceSerif4-Medium', sans-serif;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-item:nth-child(1) {
  position: sticky;
  left: 0;
  background: #f2f4f5;
  z-index: 1001;
}

.row:nth-child(odd) {
  background: #ffffff;
}

.row:nth-child(even) {
  background: #f9fafb;
}

.show-border .column:nth-child(1) {
  box-shadow: 0px 10px 10px #888;
  border-bottom-left-radius: 0px;
  z-index: 1000;
}

.column {
  text-align: left;
  padding: 0 1.5em;
  font-size: 0.875em;
  height: 72px;
  word-break: break-word;
  font-weight: 400;
  font-family: 'Satoshi-Regular', 'SourceSerif4-Medium', sans-serif;
  white-space: nowrap;
  align-items: center;
}

.column:nth-child(1) {
  position: sticky;
  left: 0;
}

.column:nth-child(odd).column:nth-child(1) {
  background: inherit;
}

.column:nth-child(1).last-child {
  border-bottom-left-radius: 8px;
}

.column:nth-last-child(1).last-child {
  border-bottom-right-radius: 8px;
}

.plus {
  color: #039855;
  font-weight: 700;
  font-family: 'Satoshi-Bold', 'SourceSerif4-Medium', sans-serif;
}

.minus {
  color: #23262f;
  font-weight: 700;
  font-family: 'Satoshi-Bold', 'SourceSerif4-Medium', sans-serif;
}

.last-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
